<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Biometric Device Integration - Odoo</h2>
            <h3 class="oe_slogan">Get Attendance from Biometric Device Directly</h3>
            <p>Download Data</p>
        </div>
    </div>
</section>
