<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">OpenHRMS</h2>
        <h3 class="oe_slogan">Most advanced open source HR management software</h3>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced oe_mt32">
        <div class="oe_span">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="https://www.openhrms.com/#request-demo">
                    <img src="HRMS-BUTTON.png">
                </a>
                <div class="oe_demo_footer oe_centeralign">Online Demo</div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">OHRMS Employee Exit/Entry Checklist</h2>
        <h3 class="oe_slogan">Manages Employees Entry & Exit Process</h3>
        <h4 class="oe_slogan"><a href="https://www.cybrosys.com">Cybrosys Technologies</a> </h4>
    </div>
    <div class="oe_row oe_spaced" style="padding-left:65px;">
        <h4>Features:</h4>
        <div>
            <span style="color:green;"> &#9745; </span> Managing entry/exit process.<br/>
            <span style="color:green;"> &#9745; </span> Automatic process on document attachments.<br/>
            <span style="color:green;"> &#9745; </span> Option to enable Gauge widget for employee kanban.<br/>
            <span style="color:green;"> &#9745; </span> Entry/Exit Percentpie in employee form view.<br/>
            <span style="color:green;"> &#9745; </span> Entry Progressbar in employee tree view.<br/>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_picture">
            <h3 class="oe_slogan">Overview</h3>
            <p class="oe_mt32 text-justify" style="text-align: center;">
A well functioning human resource department will lay down a number procedure and process before an employee during joining/resigning time. It may be submission/Return of a certificate or attending a conference etc.
A person has to undergo all these checklist items before being admitted/resigned. The module simplifies the process by providing you a checklist to mark the proceedings. It will also display the PercentPie of the checklist items completed.

            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div style="text-align: center">
            <p>
                <h4>Entry/Exit Checklist</h4>
            <p>
        </div>
        <div style="text-align: center">
            <a href="https://www.cybrosys.com">
                <div class="oe_demo oe_picture oe_screenshot">
                    <img style="border:10px solid white;" src="oh_entry_checklist.png">
                </div>
            </a>
        </div>
        <div style="text-align: center">
            <a href="https://www.cybrosys.com">
                <div class="oe_demo oe_picture oe_screenshot">
                    <img style="border:10px solid white;" src="oh_exit_chceklist.png">
                </div>
            </a>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div style="text-align: center">
            <p>
                <h4>Employee From View With PercentPie</h4>
            </p>
        </div>
        <div class="" style="text-align: center">
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="border:10px solid white;" src="oh_employee_form.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div style="text-align: center">
            <p>
                <h4>Employee Tree View With Progressbar</h4>
            </p>
        </div>
        <div class="" style="text-align: center">
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="border:10px solid white;" src="oh_tree_view.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div style="text-align: center">
            <p>
                <h4>Employee Kanban View with Gauge</h4>
            </p>
        </div>
        <div class="" style="text-align: center">
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="border:10px solid white;" src="oh_kanban_view.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div style="text-align: center">
            <p>
                <h4>Configuration</h4>
            </p>
        </div>
        <div class="" style="text-align: center">
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="border:10px solid white;" src="oh_kanban_Settings.png">
            </div>
        </div>
    </div>
</section>

<div class="row section-content">
    <div class="col-md-6 img-content">
        <h3>Our Odoo Services</h3>
    </div>
    <div class="bc-span col-md-12">
        <div class="inner-span">
            <a target="_blank" href="https://www.openhrms.com">
                <img class="img-border img-responsive thumbnail" src="cybro-service.png">
            </a>
        </div>
    </div>
</div>

<section class="oe_container">
    <h2 class="oe_slogan" style="margin-top:20px;" >Need Any Help?</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
        <div>
            <a  class="btn btn-primary btn-lg mt8"
            style="color: #FFFFFF !important;border-radius: 0;" href="https://www.cybrosys.com"><i
            class="fa fa-envelope"></i> Email </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;"
            href="https://www.cybrosys.com/contact/"><i
            class="fa fa-phone"></i> Contact Us </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;"
            href="https://www.cybrosys.com/odoo-customization-and-installation/"><i
            class="fa fa-check-square"></i> Request Customization </a>
        </div>
        <br>
        <img src="cybro_logo.png" style="width: 190px; margin-bottom: 20px;" class="center-block">
    </div>
</section>
