<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">HR Attendance Sheet And Policies</h2>
        <h3 class="oe_slogan">One Place To Calculate Overtime , Absence And Attendance Delay From Time Attendance And
            Create PaySlip Depends On That Calculations Under Configurable Rues</h3>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Features</h2>

        <h3 class="oe_slogan" style="color:#875A7B;">Public Holidays</h3>
        <div class="oe_span6">

            <ul class="oe_mt32">
                <li><h5>Screen for Defining Public Holidays.</h5></li>
                <li>Where you can configure the public holiday period and make it active or not for over time
                    calculation.
                </li>
            </ul>

        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="1.jpg">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#875A7B;">Attendance Rules</h3>


        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="2.jpg">
                <img class="oe_picture oe_screenshot" src="3.jpg">
                <img class="oe_picture oe_screenshot" src="4.jpg">
            </div>
        </div>
        <div class="oe_span6">
            <ul class="oe_mt32">
                <li><h5>Overtime Rules</h5>
                    <ul>
                        <li>
                            Configurable overtime rules for every type(Overtime On working days,Overtime on weekends and
                            overtime on public holidays).
                        </li>
                        <li>Every rule has period which overtime will be calculated only after that period (Apply
                            After Field).
                        </li>
                        <li>Every rule has its own rate that will be used in overtime calculation depending on
                            employee hourly rate.
                        </li>

                    </ul>

                </li>
                <li><h5>Attendance Lateness  Rules</h5>
                    <ul>
                        <li>
                            Configurable Lateness rules with multiple steps of periods.
                        </li>
                        <li>Every lateness step has it`s type and rates to be calculated on payslip.
                        </li>

                    </ul>

                </li>
                <li><h5>Absence Rules</h5>
                    <ul>
                        <li>
                            Configurable Absence rules with multiple steps depending on  how many days of absence during the payslip period.
                        </li>
                        <li>Every Absence Step has it`s rate to be calculated on payslip.
                        </li>

                    </ul>

                </li>

            </ul>

        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#875A7B;">Attendance Policies</h3>


        <div class="oe_span6">
            <div style="font-size: 15px;">
                <ul>
                    <li>Attendance Policy That contains all the attendance rules to be assigned to Employee`s Contract.</li>

                </ul>
            </div>

        </div>

        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="5.jpg">
            </div>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#875A7B;">Attendance Sheet</h3>


        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="6.jpg">
            </div>
        </div>
        <div class="oe_span6">
            <ul class="oe_mt32">
                <li>Attendance sheet contains calculated attendance data such as(overtime, late in ,absence ,leaves,
                    difference time between planned attendance hours and actual hours)for the selected employee within
                    the selected period and taking into account the approved leaves and public holidays.
                </li>
                <li>Handling complex attendance calculation within one day such as(multi working interval in one
                    day,attendance records that may overlap multi working intervals within one day, and multi attendance
                    records within single working interval).
                </li>
                 <li>Applying Attendance Policy rules to the calculated attendance data day by day to be computed in the related payslip.
                </li>
            </ul>

        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#875A7B;">Changing Attendance Data</h3>


        <div class="oe_span6">
            <div style="font-size: 15px;">
                <ul>
                    <li>Wizard to modify each attendance data(overtime,late in ,difference time) before approval and record the note of changing reason.</li>

                </ul>
            </div>

        </div>

        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="7.jpg">
            </div>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#875A7B;">Create Payslip From Attendance Sheet</h3>


        <div class="oe_span12">
            <p>Creating Employee Payslip from the attendance sheet that contains the attendance data after applying related attendance rules(total overtime
                hours,total late in hours,total absence days,total difference hours) and taking these data into account
                while calculating the payslip.</p>

        </div>

        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="8.jpg" style="width:600px;height:300px;">
            </div>
        </div>

        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="9.jpg" style="width:600px;height:300px;">
            </div>
        </div>
    </div>
    </div>

    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#875A7B;">Salary Rules For Attendance Sheet</h3>


        <div class="oe_span12">
            <div style="font-size: 15px;">
                <h5>Salary Rules</h5>
                <ul>
                    <li>Salary rule for Over Time.</li>
                    <li>Salary rule for Absence.</li>
                    <li>Salary rule for Difference Time.</li>
                    <li>Salary rule for Late In Attendances.</li>
                    <li>Salary Structure for Attendance Sheet.</li>

                </ul>
            </div>

        </div>


    </div>
</section>


<section class="oe_container">
    <div class="container hidden-print">
        <div class="row" style="text-align:center;">
            <div class="col-md-12">
                <h2 class="oe_slogan" style="color:#875A7B;">
                    Thank You
                </h2>
                <br>
                <strong>To Purchase This Module Please Contact Us</strong>
                <br>
                <strong><i class="fa fa-envelope"></i> Email: rkhalil1990@gmail.com</strong>
                <br>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
