<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Egypt Payroll Localization Module</h2>
        <h3 class="oe_slogan">Avalable for Odoo 8 and Odoo 10</h3>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Features</h2>

        <h3 class="oe_slogan" style="color:#875A7B;">Insurance Details</h3>
        <div class="oe_span6">

            <ul class="oe_mt32">
                <li>Social Insurance Information (start date, number , end date).</li>
                <li>Medical Insurance Information (date, number ).</li>

            </ul>

        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="02.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#875A7B;">New Personal Details</h3>


        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="01.png">
            </div>
        </div>
        <div class="oe_span6">
            <ul class="oe_mt32">
                <li>Religion Selection.</li>
                <li>Military Status.</li>
                <li>Calculated employee age form birth date.</li>

            </ul>

        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#875A7B;">New Page for Detailed Salary Items</h3>


        <div class="oe_span6">
            <div style="font-size: 15px;">
                <h5>Salary Items Based on Egyptian Common Payroll</h5>
                <ul>
                    <li>Insurance basic salary .</li>
                    <li>Insurance variable salary.</li>
                    <li>Allowances .</li>
                    <li>Previous Annual Raises.</li>
                    <li>Custom allowances that you can add by your self
                        and get it`s amount in salary rules.
                    </li>
                </ul>
            </div>

        </div>

        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="04.png">
            </div>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#875A7B;">Employee Education Details</h3>


        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="03.png">
            </div>
        </div>
        <div class="oe_span6">
            <p>New Page for education details </p>

        </div>

    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#875A7B;">Salary Rules based on Egyptian payroll</h3>


        <div class="oe_span12">
            <div style="font-size: 15px;">
                <h5>Salary Rules</h5>
                <ul>
                    <li>Salary rule for insurance basic salary.</li>
                    <li>Salary rule for insurance variable salary.</li>
                    <li>Salary rule for Previous annual raises.</li>
                    <li>Salary rule for employee allowances.</li>
                    <li>Salary rule for Employee insurance deduction share (14% of insurance basic salary +
                        11% of insurance variable salary).
                    </li>
                    <li>Salary rule for Employee absence deduction in days .</li>
                    <li> Salary rule for Employee attendance delay deduction in minutes.</li>
                    <li> Salary rule for Employee cash penalties deduction in days.</li>
                    <li> Salary rule for Income tax deduction based on the last modification of Egyptian income taxes
                        low in 21 jun 2017.
                    </li>
                </ul>
            </div>

        </div>

        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="06.png">
            </div>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="07.png">
            </div>
        </div>

    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#875A7B;">New Qweb Report design</h3>
        <h5>Others</h5>
        <ul>
            <li>New PaySlips report template with employee details.</li>
            <li>Arabic translation for all terms added in this module.</li>
            <li>Fixing the name of the months that appear in payslip title while the system language is arabic.</li>
        </ul>


        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="10.jpg">
            </div>
        </div>
        <div class="oe_span6">
           <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="09.jpg">
            </div>

        </div>

    </div>
</section>

<section class="oe_container">
    <div class="container hidden-print">
        <div class="row" style="text-align:center;">
            <div class="col-md-12">
                <h2 class="oe_slogan" style="color:#875A7B;">
                    Thank You
                </h2>
                <br>
                <strong>To Purchase This Module Please Contact Us</strong>
                <br>
                <strong><i class="fa fa-envelope"></i> Email: rkhalil1990@gmail.com</strong>
                <br>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
<!--
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced oe_mb64">
        <h2 class="oe_slogan" style="color:#875A7B;">Your quotes online from proposal to eSignature</h2>
        <div class="oe_mt32 text-center" style="margin-left: 65px;">
            <div class="oe_span2">
                <span class="fa fa-pencil fa-2x"></span>
                <h5 class="oe_mt16">Quotation templates</h5>
            </div>
            <div class="oe_span1">
                <span class="fa fa-long-arrow-right fa-2x"></span>
            </div>
            <div class="oe_span2">
                <span class="fa fa-envelope-o fa-2x"></span>
                <h5 class="oe_mt16">Send quotations</h5>
            </div>
            <div class="oe_span1">
                <span class="fa fa-long-arrow-right fa-2x"></span>
            </div>
            <div class="oe_span2">
                <span class="fa fa-check fa-2x"></span>
                <h5 class="oe_mt16">Close deals</h5>
            </div>
            <div class="oe_span1">
                <span class="fa fa-long-arrow-right fa-2x"></span>
            </div>
            <div class="oe_span2">
                <span class="fa fa-credit-card fa-2x"></span>
                <h5 class="oe_mt16">Get paid faster</h5>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span4">
            <img class="oe_picture oe_screenshot" src="sale_sc_02a.png">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Sell faster with electronic signatures</b>
            </h4>
            <p class="text-justify">
            Allow customers to easily review and sign your online quotations from anywhere.
            </p>
        </div>
        <div class="oe_span4">
            <img class="oe_picture oe_screenshot" src="sale_sc_02b.png">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Communicate quickly and efficiently</b>
            </h4>
            <p class="text-justify">
            Get custom alerts for relevant activities, automatically communicate on the quote via email, have a traceability of the negotiation.
            </p>
        </div>
        <div class="oe_span4">
            <img class="oe_picture oe_screenshot" src="sale_sc_02c.png">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Maximize profits by upselling</b>
            </h4>
            <p class="text-justify">
            Increase sales volume by automatically proposing extra options and accessories, apply closing triggers, discounts, and more.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <h2 class="oe_slogan" style="color:#875A7B; text-align: left;">Sell more with clean quotations</h2>
            <h3 class="oe_slogan" style="text-align: left;">Better showcase your products and services.</h3>
            <p class="oe_mt32 text-justify">
            Send clear and complete quotations to your prospects. Add product descriptions, beautiful images and additional information simply by dragging and dropping building blocks.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="sale_sc_03.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced oe_mb64">
        <h2 class="oe_slogan oe_mb32" style="color:#875A7B;">Great prices for great revenues</h2>
        <div class="oe_span4 text-center">
            <span class="fa fa-bar-chart fa-2x"/>
            <p class="oe_mt16">
            Design, implement and adjust your pricing strategy to maximize benefits
            </p>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-dollar fa-2x"/>
            <p class="oe_mt16">
            Use price list rules to compute the right price based on customers conditions.
            </p>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-ticket fa-2x"/>
            <p class="oe_mt16">
            Convince customers with discounts and coupons.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Order &amp; contract sorting</h2>
        <h3 class="oe_slogan">Automate operations and focus on relations and revenues</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="sale_sc_05.png"/>
        </div>
        <div class="oe_span6 text-justify">
            <h4 class="oe_mt16">
                <b>From quotes to sales orders</b>
            </h4>
            <p>
            Convert quotation into sales order in a click or let the customer do it with electronic signature.
            </p>
            <h4 class="oe_mt16">
                <b>Contracts management</b>
            </h4>
            <p>
            Invoice customers based on time and materials, easily record contracts and track invoicing phases, renewal and upselling and manage your subscriptions with Odoo's recurring contracts.  
            </p>
            <h4 class="oe_mt16">
                <b>Let your customers help themselves</b>
            </h4>
            <p>
            Customer portal gives your customers an access to their quotes, sales orders and delivery orders. Save time and use Odoo Sign to easily get signatures on NDAs, contracts or any PDF document.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
-->
